* {
    color: white;
}

p {
    text-overflow: ellipsis;
}

div > div:hover {

}

div > div > div {
    position: relative;
    top: -10px; /* 왜?... */
    display: block;
    background-color: rgb(74, 74, 155);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 200px;
    height: 100px;
}

.content {
    display: inline-block;
    position: relative;
    margin-inline: 10px;
}

span {
    margin-inline: 5px;
}

img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* margin-bottom: 10px; */
}