.hover {
    color: white;
    visibility: hidden;
    position: sticky;
}

div * {
    position: relative;
}

p {
    text-overflow: ellipsis;
}

.content:hover {
    visibility: visible;
}

span {
    margin-inline: 5px;
}