* {
    color: white;
}

div * {
    position: relative;
}

p {
    text-overflow: ellipsis;
}

div > div:hover {

}

div > div > div {
    display: block;
    background-color: rgb(74, 74, 155);
    border-radius: 5px;
}

div div {
    display: inline-block;
    margin: 50px;
}

span {
    margin-inline: 5px;
}

img {
    margin-block: 10px;
}